/* import fonts */

/* IBM Plex Sans regular font */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf") format('TrueType');
  font-weight: 400;
}

/* IBM Plex Sans bold font */
@font-face {
  font-family: 'IBM Plex Sans';
  src: url("../fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf") format('TrueType');
  font-weight: 700;
}



$primary-ff: 'IBM Plex Sans', sans-serif;
