$heading-top-padding: clamp(2.50rem, calc(1.19rem + 5.60vw), 3.88rem); // 40px - 62px
$page-inline-padding-small: clamp(1.50rem, calc(0.55rem + 4.07vw), 2.50rem); // 24px - 40px
$page-inline-padding-medium: clamp(2.50rem, calc(-6.36rem + 18.45vw), 10.25rem); // 40px - 164px
$hero-top-margin: clamp(4.00rem, calc(2.61rem + 5.92vw), 7.94rem); // 64px - 128px
$hero-buttom-margin-small: clamp(10.38rem, calc(5.43rem + 21.12vw), 15.56rem); // 166px - 248px
$hero-buttom-margin-medium: clamp(15.56rem, calc(10.42rem + 10.71vw), 20.06rem); // 249px - 321px
$page-inline-padding-reset: clamp(-10.25rem, calc(-41.00rem + 34.17vw), 0.00rem); // -164px - 0px
$hero-title-margin-bottom: clamp(1.25rem, calc(0.81rem + 1.88vw), 2.50rem); // 20px - 40px
$offer-img-width-small: clamp(13.00rem, calc(9.30rem + 15.78vw), 16.88rem); // 208px - 270px
$offer-img-width-medium: clamp(16.88rem, calc(13.88rem + 6.25vw), 19.50rem); // 270px - 312px
$offer-img-top-offset-small: clamp(6.13rem, calc(3.74rem + 10.18vw), 8.63rem); // 98px - 138px
$offer-img-top-offset-medium: clamp(8.63rem, calc(4.63rem + 8.33vw), 12.13rem); // 138px - 194px
$offer-img-left-offset-medium: clamp(4.00rem, calc(1.29rem + 5.65vw), 6.38rem); // 64px - 102px
$offer-bg-top-illustration-offset: clamp(1.94rem, calc(1.29rem + 1.34vw), 2.50rem); // 31px - 40px
$offer-bg-left-illustration-offset: clamp(14.31rem, calc(6.67rem + 15.92vw), 21.00rem); // 229px - 336px
$offer-details-padding: clamp(2.25rem, calc(1.53rem + 3.05vw), 3.00rem); // 36px - 48px
$offer-details-title-margin-bottom: clamp(0.75rem, calc(0.04rem + 1.49vw), 1.38rem); // 12px - 22px
$offer-details-text-margin-bottom: clamp(2.25rem, calc(2.04rem + 0.45vw), 2.44rem); // 36px - 39px
$offer-details-price-margin-bottom: clamp(2.00rem, calc(1.00rem + 2.08vw), 2.88rem); // 32px - 46px
$offer-details-max-width: clamp(24.94rem, calc(21.58rem + 6.99vw), 27.88rem); // 399px - 447px
$offer-details-top-offset-small: clamp(-23.75rem, calc(-37.47rem + 58.52vw), -9.37rem); // -380px - -148px
$offer-details-top-offset-medium: clamp(-9.37rem, calc(-13.66rem + 8.93vw), -5.62rem); // -150px - -90px
$offer-details-right-offset: clamp(3.63rem, calc(0.98rem + 5.51vw), 5.94rem); // 58px - 95px
$offer-padding-reset: clamp(0.00rem, calc(-30.75rem + 34.17vw), 10.25rem); // 0px - 164px
$offer-buttom-margin: clamp(-24.37rem, calc(-36.72rem + 52.67vw), -11.44rem); // -390px - -182px
$footer-top-margin-small: clamp(-47.37rem, calc(-70.63rem + 99.24vw), -23.00rem); // -758px - -368px
